/*SVG STUFF*/

.cls-1,
.cls-14,
.cls-18,
.cls-19,
.cls-20,
.cls-25,
.cls-26,
.cls-27,
.cls-29,
.cls-31,
.cls-33,
.cls-36,
.cls-4,
.cls-40,
.cls-41,
.cls-42,
.cls-43,
.cls-44,
.cls-45,
.cls-48,
.cls-49,
.cls-7,
.cls-8,
.cls-9 {
    fill: none;
}

.cls-2 {
    stroke: #fff;
    stroke-width: 12.54px;
}

.cls-13,
.cls-14,
.cls-16,
.cls-17,
.cls-2,
.cls-22,
.cls-24,
.cls-25,
.cls-26,
.cls-33,
.cls-35,
.cls-36,
.cls-37,
.cls-42,
.cls-44,
.cls-46,
.cls-51,
.cls-7 {
    stroke-linejoin: round;
}

.cls-10,
.cls-11,
.cls-12,
.cls-16,
.cls-17,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-28,
.cls-3,
.cls-30,
.cls-32,
.cls-34,
.cls-35,
.cls-37,
.cls-38,
.cls-39,
.cls-46,
.cls-47,
.cls-5,
.cls-50,
.cls-6 {
    fill: #fff;
}

.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-37,
.cls-38,
.cls-39,
.cls-4,
.cls-40,
.cls-41,
.cls-42,
.cls-43,
.cls-45,
.cls-46,
.cls-47,
.cls-48,
.cls-49,
.cls-5,
.cls-50,
.cls-51,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
    stroke: #000;
}

.cls-12,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-23,
.cls-27,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-34,
.cls-38,
.cls-39,
.cls-4,
.cls-40,
.cls-41,
.cls-43,
.cls-45,
.cls-47,
.cls-48,
.cls-49,
.cls-50 {
    stroke-miterlimit: 10;
}

.cls-33,
.cls-4,
.cls-49,
.cls-5,
.cls-8 {
    stroke-width: 15.56px;
}

.cls-10,
.cls-11,
.cls-15,
.cls-28,
.cls-5,
.cls-6,
.cls-8,
.cls-9 {
    stroke-linejoin: bevel;
}

.cls-13,
.cls-14,
.cls-16,
.cls-18,
.cls-24,
.cls-25,
.cls-27,
.cls-32,
.cls-36,
.cls-47,
.cls-6 {
    stroke-width: 5.19px;
}

.cls-10,
.cls-11,
.cls-12,
.cls-7,
.cls-9 {
    stroke-width: 10.38px;
}

.cls-11,
.cls-19,
.cls-20,
.cls-23,
.cls-30,
.cls-31,
.cls-34,
.cls-36,
.cls-37,
.cls-41,
.cls-43,
.cls-44,
.cls-46,
.cls-50,
.cls-51,
.cls-9 {
    stroke-linecap: round;
}

.cls-15 {
    stroke-width: 1.54px;
}

.cls-17,
.cls-34,
.cls-38,
.cls-43,
.cls-51 {
    stroke-width: 2.27px;
}

.cls-19 {
    stroke-width: 41.5px;
}

.cls-20 {
    stroke-width: 39.43px;
}

.cls-21,
.cls-22,
.cls-28,
.cls-30,
.cls-31 {
    stroke-width: 20.75px;
}

.cls-23,
.cls-41,
.cls-42,
.cls-44,
.cls-45 {
    stroke-width: 2px;
}

.cls-24,
.cls-25,
.cls-26,
.cls-27,
.cls-28,
.cls-42,
.cls-47,
.cls-48,
.cls-49 {
    stroke-linecap: square;
}

.cls-26 {
    stroke-width: 5px;
}

.cls-29 {
    stroke-width: 18.93px;
}

.cls-35 {
    stroke-width: 1.7px;
}

.cls-36,
.cls-44 {
    stroke: #231f20;
}

.cls-37,
.cls-39,
.cls-40 {
    stroke-width: 1.14px;
}

.cls-46 {
    stroke-width: 10.27px;
}

.cls-48 {
    stroke-width: 9.08px;
}

.cls-50 {
    stroke-width: 4.54px;
}

.cls-51 {
    fill: url(#speaker);
}

svg {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*ANIMATIONS*/

.antennaCircle {

    animation: blink 2s linear alternate infinite;
}

@keyframes blink {
    from {
        fill: white;
    }
    to {
        fill: red;
        filter: url(#glow);
    }
}

/*/////////////////////////////////////////////SPEAK TO ME*/

#MouthSound {
    animation: display 0.7s steps(5, start) infinite;
}

@keyframes display {
    to {
        visibility: hidden;
    }
}

/*///////////////////////////////////////////////READ*/

#Eyes {
    transform: translate(0.2%, 0.04%);
    animation: read 1s linear infinite;
}

@keyframes read {
    100% {
        transform: translate(-0.2%, -0.1%);
    }
}

/*///////////////////////////////////////////////SNORT ROBOT/////////////////////////////////////////////*/

.cls-48 {
    opacity: 0;
    transform: translateY(2%);
    animation: snort 8s ease-in-out infinite;

}

@keyframes snort {
    15% {
        opacity: 0.2;
        stroke-width: 9.28px;
        transform: translate(-1%, 0.7%);
    }
    30% {
        opacity: 0.4;
        stroke-width: 9.48px;
        transform: translate(1%, -0.5%);
    }
    45% {
        opacity: 0.6;
        stroke-width: 9.68px;
        transform: translate(-2%, -1.5%);
    }
    60% {
        opacity: 0.8;
        stroke-width: 9.88px;
        transform: translate(2%, -2.5%);
    }
    75% {
        opacity: 1;
        stroke-width: 10.08px;
        transform: translate(-2%, -3.5%);
    }
}



/*SWAY THOSE LEGS*/

#moveLeftLeg {
    animation: sway 1s ease-in-out infinite alternate;
    transform-origin: 75% 76%;
}

#moveRightLeg {
    animation: sway 1s 0.5s ease-in-out infinite alternate;
    transform-origin: 69% 75%;
}

@keyframes sway {
    to {
        transform: rotate(15deg);
    }
}

/*
@keyframes snort{
    20%{
      opacity: 0.2;
        stroke-width: 9.28px;
      transform: translate(-1%, 0.7%);
    }
    40%{
        opacity: 0.4;
        stroke-width: 9.48px;
        transform: translate(1%, -0.5%);
    }
    60%{
        opacity: 0.6;
        stroke-width: 9.68px;
        transform: translate(-2%, -1.5%);
    }
    80%{
        opacity: 0.8;
        stroke-width: 9.88px;
        transform: translate(2%, -2.5%);
    }
    100%{
        opacity: 1;
        stroke-width: 10.08px;
        transform: translate(-2%, -3.5%);
        }
}
*/
